<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="row col-xs-12">

        <div class="container">

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/countries">Customer</a></li>
                <li routerLinkActive="active"><a routerLink="/countries/afg">Orders</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">About</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-add">Login</a></li>
           </ul>

        </div>
        </div>
      </div>
    </div>
</nav>
